.App {
  text-align: center;
}

.sliderimg {
  width : 70%;
  height: 15%;
  display: contents;
  margin-left: 10px;
  margin-right: 10px;
}

.images {
  width: 80%;
  height: 450px;
}

.footer {
  background-color: black;
  color: white;
}


.electronicspage {
  width: 80%;
  height: 25%;
  margin-left: 10%;
}

.grocerierspage {
  width: 80%;
  height: 30%;
  margin-left: 10%;
}

.fashionpage {
  width: 80%;
  height: 30%;
  margin-left: 10%;
}